* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-color-light:#FFFFFF;
    --bg-color-dark:hsla(240, 5%, 7%, 1);
    --text-color-dark:#FFFFFF;
    --text-color-light:hsla(240, 6%, 21%, 1);
    --bg-sound-light: hsla(240, 9%, 89%, 1);
    --bg-sound-dark:hsla(240, 6%, 17%, 1);
}

body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    display: grid;
    font-weight: 500;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding: 0 2rem 0;
}

body.dark{
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark)
}

body #settings {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

button{
    border: none;
    cursor: pointer;
}

body #settings button, main #timer #controls button{
    background:none;
}

.set svg path{
    fill: black;
}

body.dark svg path{
    fill: #FFFFFF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide{
    display: none;
}

body #settings .set.hide{
    display:initial;
    visibility:hidden;
}

main #timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 4rem;
}

main #timer #display{
    font-size: clamp(5rem, 5rem + 13vw, 12.6rem);
    display: flex;
}

main #timer #controls{
    display: flex;
    gap: clamp(3rem, 2rem + 2vw, 4rem);
}

main #timer #controls button svg{
    width: clamp(2rem, 2rem + 5vw, 4.8rem);
}

main #sounds{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    width: fit-content;
    align-items: center;
}

main #sounds button{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2.4rem;
    padding: 2.4rem;
    width: clamp(8rem, 8rem + 5vw, 13.8rem);
}

main #sounds button input{
    appearance: none;
    display: inline-block;
    width: 9rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    background: black;
}

main #sounds button input::-webkit-slider-thumb{
    appearance: none;
    border-radius: 2rem;
    background: black;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
}

main #sounds button svg{
    width: clamp(2rem, 2rem + 4vw,4.4rem);
    margin-bottom: 3.2rem;
}

main #sounds button svg path{
    fill: black
}


footer {
    font-size: 1.2rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-self: end;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.4rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

body.dark footer{
    filter: drop-shadow(0px 4px 4px rgb(255, 255, 255));
}

footer p{
    color:var(--bg-color-dark);
}

footer p span{
    font-weight: 700;
    font-size: 1.4rem;
}

footer #contacts{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer img {
    width: 4rem;
    border: none;
}